* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1440px;

    background-image: url(../img/2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 1000px;
    padding-top: 15px;
}

.bt-array-title {
    display: block;
    margin: 0 auto;
    width: 400px;
    border-radius: 80px 10px 80px 10px;

    font-size: 40px;
    font-weight: 500;
    /* background-color: red; */
    color: aliceblue;
    background: rgb(156, 173, 110);
    background: linear-gradient(
        90deg,
        rgba(198, 219, 142, 0.8) 0%,
        rgba(156, 173, 110, 0.8) 15%,
        rgba(60, 94, 39, 0.8) 25%,
        rgba(68, 112, 49, 0.8) 29%,
        rgba(27, 57, 5, 0.8) 49%,
        rgba(66, 114, 50, 0.8) 63%,
        rgba(90, 139, 69, 0.8) 74%,
        rgba(184, 203, 130, 0.8) 95%
    );
}

/* .bt-array-content {
} */
