* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
}

.bt-array-title {
    font-size: 48px;
}

.bt-array-content {
    background: red;
}
