* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1440px;

    height: 500px;
    background-image: url(../img/1.pngs);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bt-array-title {
    font-size: 40px;
    font-weight: 700;
}

/* .bt-array-content {
} */
