* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
}

.bt-array-title {
    font-size: 42px;
    font-weight: 700;
}

.bt-array-content {
    background: red;
}
