* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1440px;

    background-image: url(../img/2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 1000px;
}

.bt-array-title {
    font-size: 40px;
    font-weight: 700;
    background-color: transparent;
}

/* .bt-array-content {
} */
