* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fraunces", serif;
    font-family: "Vollkorn", serif;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    overflow: hidden;
    padding: 0;

    background-image: url(../img/2.jpg);
    background-size: cover;
    background-position: inherit;
    background-repeat: no-repeat;
    background-attachment: fixed;

    height: 1000px;
    position: relative;
}

.bt-array-title {
    display: block;
    width: 380px;
    margin: 0 auto;
    border-radius: 80px 10px 80px 10px;

    font-size: 40px;
    font-weight: 700;
    /* background-color: red; */
    color: aliceblue;
    background: rgb(156, 173, 110);
    background: linear-gradient(
        90deg,
        rgba(198, 219, 142, 0.7) 0%,
        rgba(156, 173, 110, 0.7) 10%,
        rgba(60, 94, 39, 0.7) 25%,
        rgba(68, 112, 49, 0.7) 29%,
        rgba(27, 57, 5, 0.7) 49%,
        rgba(66, 114, 50, 0.7) 63%,
        rgba(90, 139, 69, 0.7) 74%,
        rgba(184, 203, 130, 0.7) 95%
    );
}

.bt-array-top {
    position: fixed;
    width: 100%;
    padding-top: 10px;
    background-color: red;

    background-image: url(../img/2.jpg);
    background-size: cover;
    background-position: inherit;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bt-array-content {
    padding-top: 280px;
}
