* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    overflow: hidden;
    padding: 0;

    background-image: url(../img/2.jpg);
    background-size: cover;
    background-position: inherit;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* height: 1000px; */
    position: relative;
}

.bt-array-top {
    position: fixed;
    width: 100%;
    padding-top: 10px;
    margin-bottom: 10px;

    background-image: url(../img/2.jpg);
    background-size: cover;
    background-position: inherit;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 5;
}

.bt-array-title {
    display: block;
    width: 380px;
    margin: 0 auto;
    border-radius: 80px 10px 80px 10px;

    font-size: 40px;
    font-weight: 700;
    /* background-color: red; */
    color: aliceblue;
    background: rgb(156, 173, 110);
    background: linear-gradient(
        90deg,
        rgba(198, 219, 142, 0.75) 0%,
        rgba(156, 173, 110, 0.75) 10%,
        rgba(60, 94, 39, 0.75) 25%,
        rgba(68, 112, 49, 0.75) 29%,
        rgba(27, 57, 5, 0.75) 49%,
        rgba(66, 114, 50, 0.75) 63%,
        rgba(90, 139, 69, 0.75) 74%,
        rgba(184, 203, 130, 0.75) 95%
    );
}

.bt-array-content {
    padding-top: 280px;
}
.accordion {
    padding-top: 220px;
}

.accordion-button:focus {
    border: none;
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background-color: white;
    color: black;
}

.numberList {
    display: inline-block;
    margin-right: 10px;
    width: 20px;
    height: 20px;

    background-color: #2b4818;
    color: white;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    border-radius: 14%;
}

#user-btn {
    height: 41px;
}

@media only screen and (max-width: 580px) {
    .btnCustom {
        width: 100%;
    }

    #user-input {
        margin-bottom: 24px;
    }

    .bt-array-content {
        padding-top: 300px;
    }
    .accordion {
        padding-top: 310px;
    }
}

@media only screen and (max-width: 739px) {
    .btnCustom {
        width: 100%;
    }
}

@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .btnCustom {
        width: 50%;
    }

    .bt-array-content {
        padding-top: 300px;
    }
    .accordion {
        padding-top: 000px;
    }
}

@media only screen and (min-width: 1024px) {
    .btnCustom {
        width: 250px;
    }
}
