* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1440px;

    background-image: url(../img/2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 1000px;
    padding-top: 15px;
}

.bt-array-title {
    display: block;
    margin: 0 auto;
    width: 400px;
    border-radius: 80px 10px 80px 10px;

    font-size: 40px;
    font-weight: 500;
    /* background-color: red; */
    color: aliceblue;
    background: rgb(194, 215, 140);
    background: linear-gradient(
        90deg,
        rgba(194, 215, 140, 1) 0%,
        rgba(49, 84, 26, 1) 10%,
        rgba(41, 75, 18, 1) 11%,
        rgba(30, 61, 7, 1) 14%,
        rgba(19, 38, 5, 1) 17%,
        rgba(19, 38, 5, 1) 21%,
        rgba(49, 84, 26, 1) 28%,
        rgba(194, 215, 140, 1) 34%,
        rgba(49, 84, 26, 1) 40%,
        rgba(19, 38, 5, 1) 49%,
        rgba(19, 38, 5, 1) 53%,
        rgba(49, 84, 26, 1) 59%,
        rgba(30, 61, 7, 1) 63%,
        rgba(194, 215, 140, 1) 69%,
        rgba(49, 84, 26, 1) 74%,
        rgba(30, 61, 7, 1) 78%,
        rgba(19, 38, 5, 1) 82%,
        rgba(19, 38, 5, 1) 89%,
        rgba(49, 84, 26, 1) 92%,
        rgba(194, 215, 140, 1) 100%,
        rgba(194, 215, 140, 1) 100%
    );
}

/* .bt-array-content {
} */
