* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1440px;

    background-image: url(../img/2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 1000px;
    padding-top: 15px;
}

.bt-array-title {
    display: block;
    margin: 0 auto;
    width: 400px;
    border-radius: 80px 10px 80px 10px;

    font-size: 40px;
    font-weight: 500;
    /* background-color: red; */
    color: aliceblue;
    background: rgb(156, 173, 110);
    background: linear-gradient(
        90deg,
        rgba(156, 173, 110, 0.9) 0%,
        rgba(156, 173, 110, 0.9) 0%,
        rgba(60, 94, 39, 0.9) 25%,
        rgba(56, 94, 40, 0.9) 29%,
        rgba(27, 57, 5, 0.9) 49%,
        rgba(54, 94, 41, 0.9) 63%,
        rgba(65, 103, 49, 0.9) 74%,
        rgba(156, 173, 110, 0.9) 95%
    );
}

/* .bt-array-content {
} */
